.title {
  margin: 35px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 65px;

  @media(max-width: 1500px) {
    grid-column-gap: 25px;
    grid-row-gap: 45px;
  }

  @media(max-width: 1420px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  @media(max-width: 620px) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 1300px) {
    flex-direction: column;
    row-gap: 20px;
  }
}